{% extends 'base.html' %}
{% block title %}
    Изменить пользователя
{% endblock %}
{% block content %}
    <h1>Редактировать имя и пароль пользователя</h1>
    <form action="{% url 'accounts:change_user' user_obj.pk %}" method="POST">
        {% include 'partial/form.html' with button_text='Редактировать' %}
    </form>
{% endblock %}