{% extends 'base.html' %}
{% block title %}Регистрация{% endblock %}
{% block content %}
        <h1 class="text-center">Регистрация</h1>
        <form action="{% url 'accounts:register_user' %}" method="post">
            {% include "partial/form.html" with button_text='Зарегистрироваться' %}
        </form>
{% endblock %}