{% extends 'base.html' %}
{% block title %}
    Удаление пользователя
{% endblock %}
{% block menu_links %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:list_articles' %}">К списку статей</a>
    </li>
{% endblock %}
{% block content %}
    <h1>Удаление пользователя</h1>
    <h2>Вы действительно хотите удалить пользователя {{ user_obj.username }}?</h2>
    <form action="{% url 'accounts:delete_user' user_obj.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Удалить">
        <a href="{% url 'accounts:list_users' %}" class="btn btn-success">Вернуться к списку пользователей</a>
    </form>
{% endblock %}