{% extends 'base.html' %}
{% block title %}
    Пользователи
{% endblock %}
{% block menu_links %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:register_user' %}">Добавить пользователя</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="articlesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Статьи
        </a>
        <div class="dropdown-menu" aria-labelledby="articlesDropdown">
            <a class="dropdown-item" href="{% url 'webapp:list_articles' %}">К списку статей</a>
            <a class="dropdown-item" href="{% url 'webapp:add_article' %}">Добавить статью</a>
        </div>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:list_categories' %}">К списку категорий</a>
    </li>
{% endblock %}
{% block content %}
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><b>Список пользователей</b></span>
            <span><b>Действия</b></span>
        </li>
        {% for user in users %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <p>{{ user.username }}</p>
                <div class="btn-group">
                    <a href="{% url 'accounts:change_user' user.pk %}" class="btn btn-success">Редактировать</a>
                    <a href="{% url 'accounts:delete_user' user.pk%}" class="btn btn-warning">Удалить</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}