{% extends 'base.html' %}
{% block title %}
    Удалить категорию
{% endblock %}
{% block content %}
    <h1>Удалить категорию "{{ category.title }}"</h1>
    <form action="{% url 'webapp:delete_category' category.pk %}" method="POST">
        {% csrf_token %}
        <h2>Вы действительно хотите удалить категорию {{ category.title }}?</h2>
        <input type="submit" class="btn btn-danger" value="Удалить">
        <a href="{% url 'webapp:list_categories' %}" class="btn btn-success">Отмена</a>
    </form>
{% endblock %}