{% extends 'base.html' %}
{% block title %}
   Редактировать категорию
{% endblock %}
{% block content %}
    <h1>Редактировать категорию</h1>
    <form action="{% url 'webapp:edit_category' category.pk %}" method="POST">
        {% include 'partial/form.html' with button_text='Редактировать' button_id='editCategory'%}
    </form>
{% endblock %}