{% extends 'base.html' %}
{% block title %}
    Добавить категорию
{% endblock %}

{% block content %}
    <h1>Добавить категорию</h1>
    <form action="{% url 'webapp:add_category' %}" method="POST">
        {% include 'partial/form.html' with button_text='Добавить' %}
    </form>
{% endblock %}