{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Категории
{% endblock %}
{% block menu_links %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:list_articles' %}">К списку статей</a>
    </li>
    {% if perms.auth.view_user %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Пользователи
            </a>
            <div class="dropdown-menu" aria-labelledby="usersDropdown">
                <a class="dropdown-item" href="{% url 'accounts:list_users' %}">К списку пользователей</a>
                <a class="dropdown-item" href="{% url 'accounts:register_user' %}">Добавить пользователя</a>
            </div>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
        {% include  'partial/pagination.html' %}
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span><b>Список категорий статей</b></span>
            <span><b>Действия</b></span>
        </li>
        {% for category in categories %}
            <li class="list-group-item d-flex justify-content-between align-items-center" id="category_item_{{ category.pk }}">
                <div>
                    <p>{{ category.title }} {% if category.parent_id %}(основная категория <strong>{{ category.parent_id.title }}</strong>){% endif %}</p>
                </div>
                {% if perms.webapp.change_category %}
                    <div class="btn-group">
                        <a href="{% url 'webapp:edit_category' category.pk %}" id="category_edit_{{ category.pk }}" class="btn btn-success">Редактировать</a>
                        <button id="category_delete_{{ category.pk }}" class="btn btn-warning button-delete" data-id="{{ category.pk }}">Удалить</button>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
        {% if perms.webapp.add_category %}
            <li class="list-group-item" id="collapseFormItem">
                <div class="collapse" id="collapseCategory">
                    <form class="form-inline pt-3 pb-3" id="сategoryForm">
                        {% include 'partial/form.html' with button_id='addCategoryFormSubmit' button_text='Добавить категорию'%}
                    </form>
                </div>
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseCategory" aria-expanded="false" aria-controls="collapseCategory">
                    Добавить категорию
                </button>
            </li>
        {% endif %}
    </ul>
        {% include  'partial/pagination.html' %}
{% endblock %}

{% block script %}
    <script src="{% static 'js/category.js' %}"></script>
{% endblock %}