{% load widget_tweaks %}
{% csrf_token %}

{% for error in form.non_field_errors %}
    <p class="form-error">{{ error }}</p>
{% endfor %}

{% for field in form %}
    <div class = "form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field.errors %}
            {{ field|add_class:'form-control field-error'}}
        {% else %}
             {{ field|add_class:'form-control'}}
        {% endif %}
        {% for error in field.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}
    </div>
{% endfor %}

<input type="submit" class='btn btn-warning' id={{ button_id }} value={{ button_text }}>