{% extends 'base.html' %}
{% block title %}
   Редактировать статью
{% endblock %}
{% block menu_links %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:list_articles' %}">К списку статей</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:list_categories' %}">К списку категорий</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:list_users' %}">К списку пользователей</a>
    </li>
{% endblock %}
{% block content %}
    <h1>Редактировать статью</h1>
    <form action="{% url 'webapp:edit_category' article.pk %}" method="POST" enctype="multipart/form-data">
        {% include 'partial/form.html' with button_text='Редактировать' button_id='editArticle'%}
    </form>
{% endblock %}