{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    Статьи
{% endblock %}

{% block menu_links %}
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:add_article' %}">Добавить статью</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'webapp:list_categories' %}">К списку категорий</a>
    </li>
    {% if perms.auth.view_user %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Пользователи
                </a>
                <div class="dropdown-menu" aria-labelledby="usersDropdown">
                    <a class="dropdown-item" href="{% url 'accounts:list_users' %}">К списку пользователей</a>
                    <a class="dropdown-item" href="{% url 'accounts:register_user' %}">Добавить пользователя</a>
                </div>
            </li>
    {% endif %}
{% endblock %}
{% block content %}
    {% include  'partial/pagination.html' %}
    <div class="list-group" id="articleList">
        {% for article in articles %}
            <div class="card">
                <div class="card-header position-relative" id="heading{{ article.pk }}">
                    <a class="list-group-item  collapsed" data-toggle="collapse" data-target="#collapse{{ article.pk }}" aria-expanded="true" aria-controls="collapse{{ article.pk }}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{ article.title }}</h5>
                            <small>Категория: {{ article.category_id.title }}</small>
                        </div>
                        <p class="mb-1">{{ article.description|truncatewords:10 }}</p>
                        <small>Автор: {{ article.user_id.username }}</small>
                    </a>
                    {% if request.user.id == article.user_id.id or perms.webapp.change_article %}
                        <div class="btn-group position-absolute article-links">
                            <a class="btn btn-success" href="{% url 'webapp:edit_article' article.pk%}"><i class="fas fa-edit"></i></a>
                            {% if perms.webapp.delete_article%}
                                <button type="button" class="btn btn-danger delete-button" data-toggle="modal" data-target="#deleteModal" data-article-id="{{ article.pk }}">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <div id="collapse{{ article.pk }}" class="collapse" aria-labelledby="heading{{ article.pk }}" data-parent="#articleList">
                    <div class="card-body">
                        {{ article.description|escape|linebreaks }}
                    </div>
                    <div class="d-flex justify-content-center pb-5">
                        <img src="{{ article.image.url }}" class="card-img-top article-avatar" alt="{{ article.image.name }}">
                    </div>

                </div>
            </div>

        {% endfor %}
    </div>
    {% include  'partial/pagination.html' %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Удалить статью?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <a href="#" class="btn btn-danger" id="deleteArticle">Удалить</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'js/article_script.js'%}"></script>
{% endblock %}